In [ ]:
import sqlite3

## Task 1

In [ ]:
conn = sqlite3.connect('roster.db')
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS Roster")

Roster_list = [
    ('Benjamin Sisko','Human',40),
    ('Jadzia Dax','Trill',300),
    ('Kira Nerys','Bajoran',29)
    ]

c.execute("""CREATE TABLE IF NOT EXISTS Roster(
        Name TEXT,
        Species TEXT,
        Age INTEGER
    )""")

c.executemany("INSERT OR IGNORE INTO Roster VALUES(?,?,?)", Roster_list)
c.execute("UPDATE Roster SET Name = ? WHERE Name = ?", ('Ezri Dax','Jadzia Dax'))

conn.commit()

c.execute("DELETE FROM Roster WHERE Age > 100")
c.execute("INSERT INTO Roster VALUES (?,?,?)", ('Ezri Dax','Trill', 29))
c.execute("SELECT * FROM Roster WHERE Species = ?", ('Bajoran',))

rows = c.fetchall()
for row in rows :
    print(row)


c.execute("ALTER TABLE Roster ADD COLUMN Rank TEXT")
c.execute("UPDATE Roster SET Rank = ? WHERE Name = ?", ('Captain', 'Benjamin Sisko'))
c.execute("UPDATE Roster SET Rank = ? WHERE Name = ?", ('Major', 'Kira Nerys'))
c.execute("UPDATE Roster SET Rank = ? WHERE Name = ?", ('Lieutenant', 'Ezri Dax'))

conn.commit()

c.execute ("SELECT * FROM Roster ORDER BY Age DESC")
rowss = c.fetchall()
for row in rowss :
    print(row)

conn.close()

## Task 2

In [ ]:
conn = sqlite3.connect('library.db')
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS Books")

Books_list = [
    ('To Kill a Mockingbird','Harper Lee',1960,'Fiction'),
    ('1984','George Orwell',1949,'Dystopian'),
    ('The Great Gatsby','F. Scott Fitzgerald',1925,'Classic')
    ]

c.execute("""CREATE TABLE IF NOT EXISTS Books(
        Title TEXT,
        Author TEXT,
        Year_Published INTEGER,
        Genre TEXT  
    )""")

c.executemany("INSERT OR IGNORE INTO Books VALUES(?,?,?,?)", Books_list)
c.execute("UPDATE Books SET Year_Published = ? WHERE Title = ?", (1950, '1984'))

conn.commit()

c.execute("DELETE FROM Books WHERE Year_Published < 1950")
c.execute("INSERT INTO Books VALUES (?,?,?,?)", ('The Great Gatsby','F. Scott Fitzgerald',1925,'Classic'))
c.execute("SELECT * FROM Books WHERE Genre = ?", ('Dystopian',))

rows = c.fetchall()
for row in rows :
    print(row)

c.execute("ALTER TABLE Books ADD COLUMN Rating REAL")
c.execute("UPDATE Books SET Rating = ? WHERE Title = ?", (4.8, 'To Kill a Mockingbird'))
c.execute("UPDATE Books SET Rating = ? WHERE Title = ?", (4.7, '1984'))
c.execute("UPDATE Books SET Rating = ? WHERE Title = ?", (4.5, 'The Great Gatsby'))

conn.commit()

c.execute ("SELECT * FROM Books ORDER BY Year_Published ASC")
rowss = c.fetchall()
for row in rowss :
    print(row)

conn.close()