In [ ]:
import pandas as pd
import sqlite3

## Part 1: Reading Files

### 1. **`chinook.db`**

In [ ]:
conn = sqlite3.connect('chinook.db')
customers_df = pd.read_sql_query("SELECT * FROM customers", conn)
print("Customers DataFrame (first 10 rows):")
print(customers_df.head(10))
conn.close()

### 2. **`iris.json`**

In [ ]:
iris_df = pd.read_json('iris.json')
print("\nIris DataFrame shape:", iris_df.shape)
print("Iris DataFrame columns:", iris_df.columns.tolist())

### 3. **`titanic.xlsx`**

In [1]:
titanic_df = pd.read_excel('titanic.xlsx')
print("\nTitanic DataFrame (first 5 rows):")
print(titanic_df.head())

NameError: name 'pd' is not defined

### 4. **Flights parquet file**

In [ ]:
flights_df = pd.read_parquet('flights.parquet')
print("\nFlights DataFrame info:")
print(flights_df.info())

### 5. **`movie.csv`**

In [ ]:
movie_df = pd.read_csv('movie.csv')
print("\nRandom sample of 10 rows from Movie DataFrame:")
print(movie_df.sample(10))

## Part 2: Exploring DataFrames

### 1. Using the DataFrame from **`iris.json`**:

In [ ]:
iris_df.columns = iris_df.columns.str.lower()
iris_selected = iris_df[['sepal_length', 'sepal_width']]
print("\nSelected columns from Iris DataFrame:")
print(iris_selected.head())

### 2. From the **`titanic.xlsx`** DataFrame:

In [ ]:
titanic_above_30 = titanic_df[titanic_df['age'] > 30]
gender_counts = titanic_above_30['sex'].value_counts()
print("\nCount of male and female passengers above age 30:")
print(gender_counts)

## 3. From the **Flights parquet file**:

In [ ]:
flights_selected = flights_df[['origin', 'dest', 'carrier']]
print("\nSelected columns from Flights DataFrame:")
print(flights_selected.head())
unique_destinations = flights_df['dest'].nunique()
print("Number of unique destinations:", unique_destinations)

## 4. From the **`movie.csv`** file:

In [ ]:
long_movies = movie_df[movie_df['duration'] > 120]
sorted_long_movies = long_movies.sort_values(by='director_facebook_likes', ascending=False)
print("\nFiltered and sorted long movies:")
print(sorted_long_movies.head())